<%- include('../partials/header') %>

    <% drinks.forEach(function(drink) { %>
        <div class="drinks">
            <div>
                <h3>Drink: </h3>
                <p>
                    <%= drink.name %>
                </p>
                <% if(user){ %>
                    <a href="/drinks/<%=drink._id%>">Edit</a>
                    <%}%>
            </div>
            <div>
                <% if(user) {%>
                    <h3>How do you feel?</h3>
                    <form action="/drinks/<%= drink._id %>/reviews" method="POST">
                        <label>Rate your drink:</label>
                        <input type="text" name="content">
                        <input type="submit" value="Add Review">
                    </form>
                    <% } %>
                        <% if(drink.reviews.length) { %>
                            <h3>Review</h3>
                            <ul>
                                <% drink.reviews.forEach(function(review){ %>
                                    <li>
                                        <%= review.content %>
                                    </li>
                                    <%}) %>
                            </ul>
                            <% } else { %>
                                <h3>No Comments Yet</h3>
                                <% } %>
            </div>
        </div>
        <% }) %>
            <% if(user) { %>
                <a href="/drinks/new" id="newDrink">I'm drinking another one</a>
                <% } %>

                    <%- include('../partials/footer') %>