<%- include('../partials/header') %>
    <div class="drinks">
        <div>
            <h3>Drink: </h3>
            <p>
                <%= drink.name %>
            </p>
            <h3>Amount: </h3>
            <p>
                <%= drink.amount %> ounces
            </p>
            <h3>Time:</h3>
            <p>
                <%= drink.createdAt %>
            </p>
        </div>
        <div>





            <h1>Reviews</h1>
            <% drink.reviews.forEach(function(review){ %>
                <ul>
                    <%= review.content %>
                </ul>
                <% if(user && user._id.equals(drink.user)) { %>
                    <form action="/drinks/<%= drink._id %>/reviews/<%=review._id%>?_method=PUT" method="POST">
                        <input name="content" value="<%= review.content %>">
                        <button type="submit">UPDATE COMMENT</button>
                    </form>
                    <form action="/drinks/<%= drink._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button type="submit">DELETE COMMENT</button>
                    </form>
                    <% } %>

                        <% })%>


                            <%- include('../partials/footer') %>