<%- include('../partials/header') %>
    <div class="show-page">
        <div>
            <h3>Drink: </h3>
            <p>
                <%= drink.name %>
            </p>
            <h3>Amount: </h3>
            <p>
                <%= drink.amount %> ounces
            </p>
            <h3>Time:</h3>
            <p>
                <%= drink.createdAt %>
            </p>
        </div>






        <h3>Reviews</h3>
        <% drink.reviews.forEach(function(review){ %>
            <ul>
                <%= review.content %>
            </ul>
            <% if(user && user._id.equals(drink.user)) { %>
                <form action="/drinks/<%= drink._id %>/reviews/<%=review._id%>?_method=PUT" method="POST">
                    <input name="content" value="<%= review.content %>">
                    <button type="submit" class="btn btn-secondary btn-sm">UPDATE COMMENT</button>
                </form>
                <form action="/drinks/<%= drink._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-secondary btn-sm">DELETE COMMENT</button>
                </form>

                <% } %>

                    <% })%>
                        <a href="/drinks"><i class="bi bi-box-arrow-left"></i></a>

    </div>


    <%- include('../partials/footer') %>